body {
  padding: 0;
  margin: 0;
}

body * {
  box-sizing: border-box;
}

.header {
  padding: 30px 15px;
  border-bottom: 1px solid currentColor;
}

.container {
  display: flex;
  align-items: center;
  position: relative;
  padding: 15px;
  border-bottom: 1px solid currentColor;
}

.articles-container, .elements-container {
  display: block;
}

.container .bg-settings-toggle {
  display: block !important;
  position: absolute !important;
  left: 5px !important;
  top: 5px !important;
  margin: 0 !important;
}

.bg-settings-toggle {
  margin: 0 !important;
}

.container .js-settings-btn,
.container .js-delete-btn {
  display: block !important;
  position: absolute !important;
  left: auto !important;
  right: 5px !important;
  top: 5px !important;
}

.container .js-settings-btn {
  right: 65px !important;
}

.column {
  flex-grow: 1;
  flex-shrink: 0;
  margin-right: 15px;
  padding: 15px;
}

.column.split-1 {
  flex-basis: 100%;
}

.column.split-2 {
  flex-basis: 50%;
}

.column.split-3 {
  flex-basis: 33%;
}

.fullwidth {
  flex-basis: 100%;
  padding: 15px;
}

.edy-bar-container li {
  margin: 0;
}
